body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  background-color: black;
  
}

#display {
  text-align: right;
  background-color: black;
  font-size: 40px;
  padding-bottom: 1px;
  padding-top: 5px;
}

#clear {
  text-align: center;
}

.calculator {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 10px;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  padding: 10px;
  font-size: 18px;
  width: 300px;
}

.calculator > * {
  padding: 25px;
  background-color: #adadad;
}

.row {
  grid-column: 1/-1;
  border-radius: 12px;
}

#decimal {
  justify-content: center;
  text-align: center;
}

.number {
  background-color: #4f4f4f;
  border-radius: 28%;
  text-align: center;
}

.operator {
  background-color: orange;
  border-radius: 28%;
  text-align: center;
}

